body {
  font-size: 6vh;
  color: #2c3e52;
  background-color: #7777;

}

.pageWrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.main-board {
  grid-area: 1/2/4/2;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-left: 2vw;
  padding-top: 12vh;
}

.status {
  grid-area: 1/2/3/2;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  box-sizing: border-box;
  padding-left: 5vw;
  padding-top: 2vh;
  font-family: 'Fredericka the Great',
  cursive;
}

.square {
  background-color: #7777;
  border: 0.25vh solid #7777;
  border-radius: 0.125em;
  float: left;
  font-size: 2em;
  line-height: 2vh;
  height: 1.5em;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0.25em;
  width: 1.5em;
  color: #fff;
  text-shadow: 2px 2px 2px black;
  font-family: 'Fredericka the Great',
  cursive;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #7777;
}

.reset {
  grid-area: 4 / 3 / 4 / 2;
  text-align: center;
}

.resetButton {
  text-align: center;
  border: none;
  padding: 0.2em 4.5vw;
  background: #2c3e52;
  color: #fff;
  font-size: 4vh;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  /* display: inline-block; */
  border-radius: 0.25em;
  font-family: 'Fredericka the Great',
  cursive;
  /* position: relative; */
}

.resetButton:hover {
  background: #ed4e6e;
}

/* .hover-point {
  position: fixed;
  z-index: 2;
  width: calc(100% / 3);
  height: calc(100% / 3);
} */
/* 
.hover-point:nth-child(1) {
  top: 0;
  left: 0;
}

.hover-point:nth-child(2) {
  top: 0;
  left: calc(100% / 3);
}

.hover-point:nth-child(3) {
  top: 0;
  right: 0;
}

.hover-point:nth-child(4) {
  top: calc(100% / 3);
  left: 0;
}

.hover-point:nth-child(5) {
  top: calc(100% / 3);
  right: 0;
}

.hover-point:nth-child(6) {
  bottom: 0;
  left: 0;
}

.hover-point:nth-child(7) {
  bottom: 0;
  left: calc(100% / 3);
}

.hover-point:nth-child(8) {
  bottom: 0;
  right: 0;
}

.hover-point:nth-child(1):hover~.box-contents {
  box-shadow: 15px 15px 50px rgba(0, 0, 0, .3);
  transform-origin: right top;
  transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) rotateZ(2deg);
}

.hover-point:nth-child(2):hover~.box-contents {
  box-shadow: 0 15px 50px rgba(0, 0, 0, .3);
  transform-origin: center top;
  transform: perspective(1000px) rotateX(10deg);
}

.hover-point:nth-child(3):hover~.box-contents {
  box-shadow: -15px 15px 50px rgba(0, 0, 0, .3);
  transform-origin: left top;
  transform: perspective(1000px) rotateX(10deg) rotateY(10deg) rotateZ(-2deg);
}

.hover-point:nth-child(4):hover~.box-contents {
  box-shadow: 15px 5px 50px rgba(0, 0, 0, .3);
  transform-origin: left center;
  transform: perspective(1000px) rotateY(-10deg);
}

.hover-point:nth-child(5):hover~.box-contents {
  box-shadow: -15px 5px 50px rgba(0, 0, 0, .3);
  transform-origin: right center;
  transform: perspective(1000px) rotateY(10deg);
}

.hover-point:nth-child(6):hover~.box-contents {
  box-shadow: 15px -15px 50px rgba(0, 0, 0, .3);
  transform-origin: right bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(-10deg) rotateZ(-2deg);
}

.hover-point:nth-child(7):hover~.box-contents {
  box-shadow: 0 -15px 50px rgba(0, 0, 0, .3);
  transform-origin: center bottom;
  transform: perspective(1000px) rotateX(-10deg);
}

.hover-point:nth-child(8):hover~.box-contents {
  box-shadow: -15px -15px 50px rgba(0, 0, 0, .3);
  transform-origin: left bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(10deg) rotateZ(2deg);
} */